/* Menu Principal */
po-menu {
    --color: #000102;
    --background-color: #9ecbd3;
    --color-menu-color-menu-item-text: #080c0f;
}

/* Título da Barra da Esquerda */
.po-font-title {
    color: #020303;
}